<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="social-media">
          <li class="facebook">
            <a href="http://www.facebook.com/lapetitecelinemusic" target="_blank">
              <i class="fa fa-facebook fa-lg"></i>
              facebook
            </a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/petite_celine" target="_blank">
              <i class="fa fa-instagram fa-lg"></i>
              instagram
            </a>
          </li>
          <li class="youtube">
            <a href="https://www.youtube.com/user/celineNYCmusic" target="_blank">
              <i class="fa fa-youtube fa-lg"></i>
              youtube
            </a>
          </li>
          <li class="soundcloud">
            <a href="https://soundcloud.com/petite-celine" target="_blank">
              <i class="fa fa-soundcloud fa-lg"></i>
              soundcloud
            </a>
          </li>
          <li class="bandcamp">
            <a href="https://petiteceline.bandcamp.com" target="_blank">
              <i class="fa fa-bandcamp fa-lg"></i>
              bandcamp
            </a>
          </li>
        </ul>
      </div>

      <div class="col-xs-2"style="font-family:cardo; padding-top:47px;">
        <h1>Petite Celine</h1>
      </div>
      <div class="col-xs-offset-2 col-xs-4" style="padding-top:153px; font-weight:300;">
        <p>petiteceline@hotmail.gov</p>
      </div>
    </div>
  </div>
</div>
