.footer {
  padding-top: 254px;
  color: #a4a4a4;
}

.footer, .footer a{
  color: #a4a4a4;
}

.social-media {
  padding-top: 50px;
}

.social-media li {
  font-weight: 300;
  /* padding-bottom: -7px; */
}
