<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="social-media">
          <li class="facebook">
            <i class="fa fa-facebook fa-lg"></i>
            facebook
          </li>
          <li class="instagram">
            <i class="fa fa-instagram fa-lg"></i>
            instagram
          </li>
          <li class="youtube">
            <i class="fa fa-youtube fa-lg"></i>
            youtube
          </li>
          <li class="soundcloud">
            <i class="fa fa-soundcloud fa-lg"></i>
            soundcloud
          </li>
          <li class="bandcamp">
            <i class="fa fa-bandcamp fa-lg"></i>
            bandcamp
          </li>
        </ul>
      </div>

      <div class="col-xs-2"style="font-family:cardo; padding-top:47px;">
        <h1>Petite Celine</h1>
      </div>
      <div class="col-xs-offset-2 col-xs-4" style="padding-top:153px; font-weight:300;">
        <p>petiteceline@hotmail.gov</p>
      </div>
    </div>
  </div>
</div>
