:host {
  display: block;
  background: url("../assets/background-large.png")no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 100vh;
  padding-top: 30px;
  font-family: "Josefin Sans";
}
.container {
  max-width: 1800px;
}

.petite-celine {
  position: absolute;
  left: 120px;
  top: 25%;
  bottom: auto;
  width: 365px;
  height: 186px;
  color: #8e9262;
  font-family: Cardo;
  font-weight: 400;
  line-height: 90px;
  font-size: 135px;
}
