<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-8" style="background: green;">
      <h1 class="petite-celine">Petite Celine</h1>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4" style="background: orange;">
      <h2 class="title young-soldier">Young Soldier</h2>
      <ul class="tracklist">
        <li class="track track01">.01<span class="track-padding"></span>Words</li>
        <li class="track track02">.02<span class="track-padding"></span>One More Shot</li>
        <li class="track track03">.03<span class="track-padding"></span>Reason & Rhyme</li>
        <li class="track track04">.04<span class="track-padding"></span>Demain</li>
        <li class="track track05">.05<span class="track-padding"></span>After All</li>
        <li class="track track06">.06<span class="track-padding"></span>Quicksand</li>
        <li class="track track07">.07<span class="track-padding"></span>The Fall</li>
        <li class="track track08">.08<span class="track-padding"></span>Young Soldier</li>
      </ul>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-8 col-sm-4" style="background: yellow;">
      <h2 class="title">“One More Shot”</h2>
      <p>Album: Young Soldier</p>
      <iframe class="img-responsive"width="560" height="315" src="https://www.youtube.com/embed/1c5eLrREIf8?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
