:host {
  display: block;
  background: url("../assets/background-large.png")no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
  font-family: "Josefin Sans";
}
.petite-celine {
  position: relative;
  width: 205px;
  color: #8e9262;
  font-family: Cardo;
  font-weight: 400;
  line-height: 50px;
  font-size: 3.157em;
}
