<div class="container">
  <div class="event" style="border-bottom: 1px solid #83aaab;">
    <h1 class="live-event" style="color: #766193;">Live Events</h1>
    <div class="row">
      <div class="col-xs-4">
        <p>January,4 2015</p>
      </div>
      <div class=" event-title col-xs-8">
        <p style="color: #766193;">Fun Time Event Name</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-8 location">
        <p>Location Place Thing</p>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="row">
      <div class="col-xs-4">
        <p>January,4 2015</p>
      </div>
      <div class=" event-title col-xs-8">
        <p style="color: #766193;">Fun Time Event Name</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-8 location">
        <p>Location Place Thing</p>
      </div>
    </div>
  </div>
</div>
