<div class="row">
  <div class="col-xs-12 col-sm-offset-8 col-sm-4">
    <h1 class="young-soldier">Young Soldier</h1>
    <ul class="tracklist">
      <li class="track track01">.01<span class="track-padding"></span>Words</li>
      <li class="track track02">.02<span class="track-padding"></span>One More Shot</li>
      <li class="track track03">.03<span class="track-padding"></span>Reason & Rhyme</li>
      <li class="track track04">.04<span class="track-padding"></span>Demain</li>
      <li class="track track05">.05<span class="track-padding"></span>After All</li>
      <li class="track track06">.06<span class="track-padding"></span>Quicksand</li>
      <li class="track track07">.07<span class="track-padding"></span>The Fall</li>
      <li class="track track08">.08<span class="track-padding"></span>Young Soldier</li>
    </ul>
  </div>
</div>
