:host {
  display: block;
  min-height: 100vh;
}
/* Style for "Rectangle 2 co" */
.rectangle {
  position: absolute;
  left: 1258px;
  top: 841px;
  width: 11px;
  height: 37px;
  background-color: #179a9c;
}
/* Text style for "Young Soldier" */
.young-soldier {
  width: 370px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -1px;
  color: #c9c9c9;
}

.track-padding {
  padding-left: 20px;
}

.tracklist {
  width: 180px;
  color: #969e9e;
  letter-spacing:  .5px;
}
