<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-6 col-md-7 col-lg-8">
        <div class="petite-celine">
          <h4 class="petite">Petite</h4>
          <h4 class="celine">Celine</h4>
        </div>

      </div>

      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-6 col-md-5 col-lg-4 module album">
        <div class="row title-rectangle">
          <div class="rectangle rectangle1"></div>
          <h2 class="title young-soldier visable">Young Soldier</h2>
        </div>

        <ul class="tracklist">
          <li class="track track01">.01<span class="track-padding"></span>Words</li>
          <li class="track track02">.02<span class="track-padding"></span>One More Shot</li>
          <li class="track track03">.03<span class="track-padding"></span>Reason & Rhyme</li>
          <li class="track track04">.04<span class="track-padding"></span>Demain</li>
          <li class="track track05">.05<span class="track-padding"></span>After All</li>
          <li class="track track06">.06<span class="track-padding"></span>Quicksand</li>
          <li class="track track07">.07<span class="track-padding"></span>The Fall</li>
          <li class="track track08">.08<span class="track-padding"></span>Young Soldier</li>
        </ul>
      </div>

      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-6 col-sm-6 col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4 module">
        <div class="row title-rectangle">
          <div class="rectangle rectangle2"></div>
          <h2 class="title">“One More Shot”</h2>
        </div>
        <p class="album-title">Album: Young Soldier</p>
      </div>

      <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4">
        <div class="video-wrapper">
          <iframe class="music-video" src="https://www.youtube.com/embed/1c5eLrREIf8?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="fixed-container">
      <div class="" style="width: 72px; display: inline-block;">
        <div class="scroll-icon" style="display:inline-block;">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <p style="display:inline-block">Scroll</p>
      </div>
    </div>
  </div>
</div>
