/* You can add global styles to this file, and also import other style files */
/* :host {
  display: block;
  background: url("./assets/background-large.png")no-repeat 0% 0% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height:  100vh;
} */
html, .root {
  font-size: 24px;
  line-height: 36px;
}
body, .article {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
}
h1, .h1 {
  font-size: 2.375em;
  line-height: 1.26315789em;
  /* margin-top: 0.63157895em; */
  /* margin-bottom: 1.2631579em; */
}
h2, .h2 {
  font-size: 1.777em;
  line-height: 1.6744186em;
  /* margin-top: 0.8372093em; */
  /* margin-bottom: 0.8372093em; */
}
h3, .h3 {
  font-size: 1.3125em;
  line-height: 1.125em;
  margin-top: 1.125em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 10.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
li {
  list-style: none;
  margin-left: -42px;
  font-size: 16px;
  margin-bottom: -10px;
}
